<div class="container">
  <input #box type="text" placeholder="Search" (keyup)="onKeyUp(box.value)"/>
  <div *ngIf="msgSearching" class="bg-success p-2">{{msgSearching}}</div>

  <div *ngIf="box.value === ''" class="bg-warning p-2">{{msgInvite}}</div>
  <div *ngIf="box.value !== ''" class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Art</th>
          <th>ArtistName</th>
          <th>TrackName</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of music">
          <td><img [src]="item.artworkUrl60" /></td>
          <td>{{item.artistName}}</td>
          <td>{{item.trackName}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="setSelectedRecord(item.trackId)">Details</button>
            <!-- <button type="button" class="btn btn-primary" (click)="setSelectedRoom(room.id)">view</button> -->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <app-room-detail *ngIf="action === 'view'" [room]="selectedRoom" (dataChangedEvent)="loadData()"></app-room-detail> -->
    <!-- <app-room-edit *ngIf="action === 'edit'" [room]="selectedRoom" (dataChangedEvent)="loadData()"></app-room-edit> -->
  </div>
</div>
