<div class="container">
  <button class="btn btn-danger float-right" (click)="onClick()">Go back</button>
  <div class="row">
    <div class="col-2">
      <img [src]="record?.artworkUrl100" />
    </div>
    <div class="col-10">
      <h1>{{record?.trackName}}</h1>
      <h3>by {{record?.artistName}}</h3>
    </div>
  </div>
  
  <ul>
    <li>trackId: {{record?.trackId}}</li>
    <li>collectionId: {{record?.collectionId}}</li>
  </ul>
  <audio controls *ngIf="record?.previewUrl">
    <source [src]="record!!.previewUrl" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
